[Desktop Entry]
Name=Ventoy
Comment=Create bootable USB drive for ISO/WIM/IMG/VHD(x)/EFI files
Exec=/opt/ventoy/ventoygui
Icon=ventoy
Terminal=false
Type=Application
Categories=Utility;
Keywords=boot;USB;ISO;WIM;IMG;VHD;EFI;create;
